@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-image {
        background-image: url("/public/image/unmul.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    input[type="radio"]:checked + span {
        background-color: #eab308;
        color: white;
    }

    input[type="radio"]:checked + span > .no-urut {
        display: none;
    }

    input[type="radio"]:checked + span > .icon-check {
        display: block;
    }
}
